.dashboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    padding: 1rem;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
    
    width: 100%;
    max-width: 1200px; /* Increased width to accommodate weather forecast */
}

.card-title {
    font-size: 3rem;
    font-weight: bold;
    background: linear-gradient(90deg, #ff6f61, #d76d77, #3a7bd5, #00d2ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    animation: gradientShift 5s ease infinite;
    margin-bottom: 0.5rem; /* Reduced to make space for line */
    text-align: center;
    position: relative;
}

/* Divider line below the card title */
.title-divider {
    width: 80%; /* Adjusts the width of the line relative to the container */
    height: 2px;
    background-color: #333; /* Dark color for contrast */
    margin-bottom: 1.5rem;
    border-radius: 2px;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.unit-toggle-button {
    background-color: #4d3f2b;
    color: white;
    font-size: 1.1rem;
    padding: 0.3rem 0.8rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 1.5rem;
    position: absolute;
    top: 20px;
    right:75px;
}

.unit-toggle-button:hover {
    background-color: #e65100;
    transform: scale(1.05);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}


