.nav__menu {
    display: none; 
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #3e8de7;
    z-index: 1000;
  }
  
  .nav__menu.active {
    display: block;
  }
  
  .nav__close {
    cursor: pointer;
  }

  .nav__toggle {
    cursor: pointer;
  }
  
  